body{
    font-family: "Courier New",monospace;
    font-size: 14px;

}
h1{
    text-align: center;
    font-size: 20px;
    background-color: red;
    width: 300px;
    height: 40px;
    margin: 10px auto;
    padding-top: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    border: solid gray;
    margin: 0 auto;
    width: 300px;
}
thead,
tfoot{
    background: gray;
}
th,
td{
    padding: 8px;
    text-align: center;
}
tbody td:first-child{
    color: red;
}

tbody td:last-child{
    color: blue;
}
tfoot{
    font-weight: bold;
}
td.disabled{
    opacity: 0.3;
}
td.today{
    font-weight: bold;
    background-color: pink;
    border: 1px double black ;
}

#prev,
#next,
#today{
    cursor: pointer;
    user-select: none;
}

footer{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background: red;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    padding-top: 8px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
}