*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 20px;
    text-align: center;

}

#inDiv{
    text-align: center;
}

#inp{
    width: 400px;
    height: 150px;
}

#outDiv{
    text-align: center;

}
#out{
    text-align: left;
    width: 400px;
    display: block;
    margin: auto;
    
}

li{
    list-style: decimal;
}
