*{
    padding: 0;
    margin: 0;
}

h1{
    background-color: palevioletred;
    display: block;
    width: 80px;
    margin: 5px auto;
    border: 1px solid rgb(221, 91, 4);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

.cal{
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background-color: palevioletred;
    border: 1px solid rgb(220, 19, 19) light;
    border-radius: 5px;
    width: 80px;
    height: 200px;
}

input{
    width: 60px;
    text-align: right;
}